* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* All p element siblings below selected, top ignored  */
h1 ~ p {
    background-color: crimson;
    color: white;
    padding: 20px;
}