* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    padding: 20px;
    background-color: teal;
    color: white;
    font-size: 1.5em;
}

a::after {
    content: ' : ' attr(href);
}