* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: block;
    margin: 10px auto;
    background-color: orange;
    padding: 10px;
    color: white;
    width: 50%;
}

input[type='checkbox']:checked ~ p {
    background-color: teal;
    text-decoration: line-through;
}

input:valid + p {
    background-color: lawngreen;
    border: 1px solid green;
}

input:invalid + p {
    background-color: red;
    border: 1px solid maroon;
}

input:required + p {
    border: 2px solid black;
}

input:optional + p {
    color: white;
}

input::placeholder {
    text-align: center;
}