@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
.col-1 {
  width: 2em;
}

.col-2 {
  width: 4em;
}

.col-3 {
  width: 6em;
}

.col-4 {
  width: 8em;
}

.col-5 {
  width: 10em;
}

.col-6 {
  width: 12em;
}

.tiny {
  font-size: 8px;
}

.small {
  font-size: 11px;
}

.medium {
  font-size: 13px;
}

.large {
  font-size: 18px;
}

.bob-banker-profile {
  background-image: url("/img/bob-banker.png");
}

.patty-plume-profile {
  background-image: url("/img/patty-plume.png");
}

.sandra-smith-profile {
  background-image: url("/img/sandra-smith.png");
}

.picture-2 {
  width: 20%;
}

.picture-4 {
  width: 40%;
}

.picture-6 {
  width: 60%;
}

.picture-8 {
  width: 80%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-style: italic;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1.125em;
  color: #000;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: "Titillium Web", Georgia, serif;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

p {
  font-family: "Alegreya Sans", Verdana, Arial, sans-serif;
}

a {
  color: #d26741;
}

a:hover {
  color: #a04626;
}

.warning-btn {
  background-color: orange;
  color: white;
  padding: 1%;
}

.warning-btn:hover {
  background-color: #ffb733;
}

#header {
  height: 60px;
  background-color: #372a27;
  border-radius: 6px;
  border: 1px solid orange;
  box-shadow: 2px 0 4px #999, 1px 1px 6px #d26741;
  -moz-box-shadow: 2px 0 4px #999, 1px 1px 6px #d26741;
  -webkit-box-shadow: 2px 0 4px #999, 1px 1px 6px #d26741;
}

#header #main-menu li {
  display: inline-block;
}

#header #main-menu a {
  color: white;
  padding: 6px 8px;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s ease-in-out;
  transition: border-bottom .5s ease-in-out;
}

#header #main-menu a:hover {
  border-bottom: 1px solid #fefefe;
}

#main {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  #main {
    width: auto;
    max-width: 960px;
  }
}

#main #content {
  float: left;
  width: 69.75%;
}

#main #sidebar {
  float: right;
  width: 23.25%;
}

#main #sidebar li {
  list-style-type: none;
  padding: 1em 1.25em;
  border-bottom: 1px dashed #999;
}

#main #sidebar li:hover {
  background-color: #efefef;
}

#footer {
  height: 90px;
  background-color: #b9da63;
  clear: both;
}

* html body {
  font-size: 125%;
}

.error, .critical-error, .cta-btn, .super-cta-btn {
  color: red;
}

.critical-error {
  bottom: 1px solid red;
  font-weight: bold;
}

.cta-btn, .super-cta-btn {
  background-color: orange;
  color: white;
  padding: 1%;
  border-radius: 6px;
  font-weight: bold;
}

.cta-btn:hover, .super-cta-btn:hover {
  background-color: #ffb733;
}

.super-cta-btn {
  font-size: 1.25em;
}

.sub-title {
  font-style: italic;
}

.sub-title {
  font-size: 1.25em;
}
/*# sourceMappingURL=main.css.map */